<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>progressbar demo</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <script>
  var url = "localhost:12121";
  var finished = false;
  function askUpdate(){
	if(finished){
		return;
	}
	setTimeout(function(){
		$.ajax({
		url : "http://"+url+"/progress",
		type : "POST",
		dataType : "json",
		error : function() {
			assert(false, "Error on askUpdate");
		},
		success : function(json) {
			console.log("result requesting pb: ", json);
			var pbName = "#progress" + json.testName;
			if (!($(pbName).length)){
			
				$newDiv = $('<div />');
				$newDiv.attr("id", "progress"+json.testName);		
				console.log("some new div", $newDiv);
				$("#main").append($newDiv);
				$( pbName ).progressbar({ max: json.max });
				$( pbName ).on( "progressbarcomplete", function( event, ui ) {
					console.log("pb finished");
					finished = true;
					window.location = "http://" + url + "/results";
				} );
				}
			 $( pbName ).progressbar({ max: json.max });
			 $( pbName ).progressbar({
				value: json.progress
			});
			askUpdate();
		}
	});
	}, 100);
  }
  
  $(function() {
	askUpdate();
  });
  </script>
</head>
<body>
 
<div id="main"></div>
 
 
</body>
</html>